@tailwind base;
@tailwind components;
@tailwind utilities;

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gradient1-text {
  background: linear-gradient(90deg, rgba(125,161,221,1) 22%, rgba(230,122,169,1) 56%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient1-bg {
  background: linear-gradient(90deg, rgba(125,161,221,1) 22%, rgba(230,122,169,1) 56%);
}

.gradient1-border {
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, rgba(125,161,221,1) 22%, rgba(230,122,169,1) 56%);
}

.circle {
  width: 200px;
  height: 200px;
  background-color: #f0f0f0;
  border-radius: 50% / 35% 65% 60% 40%;
}

:root {
  --primary: #171717;
  --secondary: #007acc;
}

/* Scrollbar styles */

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--primary) var(--secondary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  /*   background: repeating-linear-gradient(
    45deg,
    var(--secondary),
    var(--secondary) 5px,
    var(--primary) 5px,
    var(--primary) 10px
  ); */
  border-radius: 12px;
  border: 3px solid var(--primary);
}

code {
  counter-reset: line;
}

.code-line {
  counter-increment: line;
  position: relative;
  display: block;
  margin-left: 1.5rem;
}

.code-line:before {
  content: counter(line);
  position: absolute;
  margin-left: -1.5rem;
}
